

<div class="sign-container">

    <div class="sign">
    <h2>Talki-walki</h2>
    <h1>Sign_up</h1>
    </div>
    
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <input type="hidden" name="authenticity_token" value="[different hash]">
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email, class:"lab" %><br />
        <input type="hidden" name="authenticity_token" value="[different hash]">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"inpts" %>

<<<<<<< HEAD

||||||| merged common ancestors
<<<<<<< HEAD
=======
=======


>>>>>>> 15376bd9b52303c65693fe6bad409c5ea28742b5
<%= form_for(resource, as: resource_name, url: user_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
<<<<<<< HEAD
||||||| merged common ancestors
>>>>>>> 35e9f80d3642715abffd9a9b53346e620b3148ee
=======


>>>>>>> 15376bd9b52303c65693fe6bad409c5ea28742b5

      <%= f.label :password, class:"lab" %>
      <% if @minimum_password_length %>

      <em class="lab">(<%= @minimum_password_length %> characters minimum)</em>

      <% end %><br />
        <input type="hidden" name="authenticity_token" value="[different hash]">
      <%= f.password_field :password, autocomplete: "new-password", class:"inpts" %>


      <%= f.label :password_confirmation, class:"lab"%><br/>
        <input type="hidden" name="authenticity_token" value="[different hash]">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"inpts" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class:"btn btn-info btn-bg" %>
    </div>
    <% end %>
    <small> <%= render "devise/shared/links" %> </small>

</div>
<hr>
<small> <%= render "../views/layouts/footer"%> </small>
<<<<<<< HEAD
<% end %>
||||||| merged common ancestors
=======
<% end %>
>>>>>>> 15376bd9b52303c65693fe6bad409c5ea28742b5
