

<div class="sign-container">

    <div class="sign">
    <h2>Talki-walki</h2>
    <h1>Sign_up</h1>
    </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email, class:"lab" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"inpts" %>

      <%= f.label :password, class:"lab" %>
      <% if @minimum_password_length %>

      <em class="lab">(<%= @minimum_password_length %> characters minimum)</em>

      <% end %><br />

      <%= f.password_field :password, autocomplete: "new-password", class:"inpts" %>


      <%= f.label :password_confirmation, class:"lab"%><br/>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"inpts" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class:"btn btn-info btn-bg" %>
    </div>
    <% end %>
    <small> <%= render "devise/shared/links" %> </small>

</div>
<hr>
<small> <%= render "../views/layouts/footer"%> </small>
