
<<<<<<< HEAD
  <style type="text/css">  
     body {
        background-color: #FFFFFF;
        font-family: 'arial', sans-serif;
    }
    
    .main {
        background-color: #3ce3e8;
        width: 500px;
        height: 600px;
        margin: 7em auto;
        border-radius: 1.5em;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    }
    
    .sign {
        padding-top: 40px;
        color: #8C55AA;
        font-family: 'arial', sans-serif;
        font-weight: bold;
        font-size: 23px;
    }
    
    .un {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
    }
    
    form.form1 {
        padding-top: 40px;
    }
    
    .pass {
            width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border-size: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
    }
    
   
    .un:focus, .pass:focus {
        border: 2px solid rgba(0, 0, 0, 0.18) !important;
        
    }
    .pass:hover{
      border:3px;
      background-color: #4cccd0;
    }
    
    .submit {
      cursor: pointer;
        border-radius: 5em;
        color: #fff;
        background: linear-gradient(to right, #9C27B0, #E040FB);
        border: 0;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-family: 'Ubuntu', sans-serif;
        margin-left: 35%;
        font-size: 13px;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    }
    

  

</style>
</head>
<body>

<div class="main">

<p class="sign" align="center">sign-up</p>
=======

<div class="sign-container">

    <div class="sign">
    <h2>Talki-walki</h2>
    <h1>Sign_up</h1>
    </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email, class:"lab" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"inpts" %>

      <%= f.label :password, class:"lab" %>
      <% if @minimum_password_length %>
>>>>>>> 5c1a6070429929804dafd209dcca581c33da46e0

      <em class="lab">(<%= @minimum_password_length %> characters minimum)</em>

<<<<<<< HEAD
  <form class="form1">
    <p text-align: center><%= f.label :email %></p><br />
    <div class="pass" align="center"><%= f.email_field :email, autofocus: true, autocomplete: "email"%>
</div>
=======
      <% end %><br />

      <%= f.password_field :password, autocomplete: "new-password", class:"inpts" %>
>>>>>>> 5c1a6070429929804dafd209dcca581c33da46e0


<<<<<<< HEAD
    <em>(<%= @minimum_password_length %> caracters minimum)</em>

    <% end %><br />
  <div class="pass" align="center">
    <%= f.password_field :password, autocomplete: "new-password" %>
 </div>
<%= f.label :password_confirmation %>

     <div class="pass" align="center" >
    <%= f.password_field :password_confirmation, autocomplete: "new-password"  %>
 
</div>
 
 <p class="forgot" align="center"> <%= f.submit "Sign up" %> </p>
   

<% end %>
<p class="forgot" align="center"> <%= render "devise/shared/links" %> </p>

</form>
</div>

</body>
</html>
=======
      <%= f.label :password_confirmation, class:"lab"%><br/>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"inpts" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class:"btn btn-info btn-bg" %>
    </div>
    <% end %>
    <small> <%= render "devise/shared/links" %> </small>

</div>
<hr>
<small> <%= render "../views/layouts/footer"%> </small>
>>>>>>> 5c1a6070429929804dafd209dcca581c33da46e0
