
<body class="page">
   <button class="dropdown">
          <a href="javascript:void(0)" class="drop">Pour aller loin</a>
          <div class="contenu-drop">
            <a href="">Connexion</a>
            <a href="">Inscription</a>
    </button>
    <div class="gauche" style="display: inline-block;">
    <ul>
      <li><a class="active" href="">Home</a></li>
      <li><a href="">News</a></li>
      <li><a href="">Contact</a></li>
      <li><a href="">About</a></li>
    </ul>
     </div>


<%=link_to "Formation Academique",  formation_academiques_path%> 

  <div class="publicité">
    <h1 class="ml1">
        <span class="text-wrapper">
        <span class="line line1"></span>
        <span class="letters">TALKI WALKI une site de forum pour  une exposition des job à Mada, malgré l'abondabce de chomeur actuel.</span>
        <span class="line line2"></span>
        </span>
  </h1>
  </div>
  <div class="description">
    <div class="desc">
  <p>This div is just here to enable scrolling.
  Tip: Try to remove the background-attachment property to remove the scrolling effect.</p>
  </div>
    <div class="bouton">
      <p>
        <a href="" class="button">Offre d'emploi</a>
      </p>
    </div>

  <div class="desc">
  <p>This div is just here to enable scrolling.
  Tip: Try to remove the background-attachment property to remove the scrolling effect.</p>
  </div>
   <div class="bouton">
     <p> <a href="" class="button">Formation professionnelle</a></p>
    </div>
 

  <div class="desc">
  <p>This div is just here to enable scrolling.
  Tip: Try to remove the background-attachment property to remove the scrolling effect.</p>
  </div>
      <div class="bouton">
         <p><a href="" class="button">Formation académique</a></p>
       </div>
       

  <div class="desc">
  <p>This div is just here to enable scrolling.
  Tip: Try to remove the background-attachment property to remove the scrolling effect.</p>
  </div>
   <div class="bouton">
    <p><a href="" class="button">Publication recente</a></p>
  </div>
 

  </div>
</div>
</body>

----------<%=link_to "Mon profil Talki-Walkieur",  user_path(current_user.id) %>

<% if user_signed_in?%>
<p>vous ête connecté </p>
<%= link_to "logout", destroy_user_session_path, method: :delete%>
<%else%>
<p>vous ête déconnecté </p>
<%=link_to  "login", new_user_session_path%> <br><br>
<%= link_to "sign_up", new_user_registration_path%>
  <%end%>
