<<<<<<< HEAD

<section class="animation">
||||||| merged common ancestors
<section class="page">
  <div class="wrap">
      <nav>
        <div class="logo"><div class="loading">
        <span>Tk-Wk</span>
      </div></div>
        <ul>
          <li><a class="active" href="">TALKI-WALKI</a></li>
          <li><a href="">Emploi</a></li>
          <li><a href="">Formation</a></li>
          <li><a href="">Domaine</a></li>
          <li>
        
             <a class="dropdown">Action</a>
               <div class="contenu-drop">
              <%=link_to  "Connexion", new_user_session_path%> 
              <%= link_to "Inscription", new_user_registration_path%>
            </a>
            </li>
        </ul>
      </nav> 
  </div>

    <div class="gauche" style="display: inline-block;">
    <ul>
      <li><a class="active" href="">Acceuil</a></li>
      <li><a href="">A propos</a></li>
      <li><a href="">Contact</a></li>
      <li><a href="">Aide</a></li>
      <div class="loading">
        <span>Loading...</span>
      </div>
    </ul>
    <div class="gauche" style="display: inline-block;">
    <ul>
      <li><a class="active" href="">Acceuil</a></li>
      <li><a><%= render "layouts/apropos" %></a></li>
      <li><a><%= render "layouts/contacte" %></a></li>
      <li><a><%= render "layouts/aide" %></a></li>
      <div class="loading">
        <span>Loading...</span>
      </div>
    </ul>
    <div class="gauche" style="display: inline-block;">
    <ul>
      <li><a class="active" href="">Acceuil</a></li>
      <li><a href="">A propos</a></li>
      <li><a href="">Contact</a></li>
      <li><a href="">Aide</a></li>
      <div class="loading">
        <span>Loading...</span>
      </div>
    </ul>
       </div>
    </ul>
   </div>
   <section class="animation">
    
=======
<div class="body-content">
<section class="animation">
>>>>>>> 7a33d3e1445b146e7f9fb8ab00f174ea6316706b
     <h4>
       Un site pour aider les personnes à trouver une formation et un emploi stable<br>
       <span>TALKI WALKI</span>
     </h4>
   </section>
<dir class="container">
  <dir class="card">
    <a href="professional_formations">
    <img src="https://www.biblond.com/wp-content/uploads/2019/05/formation-1-857x600.jpg">
   
    <p><i>Choisir la formation professionnelle c'est de vous offrir la possibilité de progresser sur le marché de travail une carrière qui peut mener loin.</i></p></a>
 <div class="bouton">
  <a href="professional_formations" class="button">Formation professionnelle</a>
    </div>
  </dir>
  <dir class="card">
    <a href="formation_academiques">
    <img src="https://www.groupe-esi.fr/wp-content/uploads/1000pxL-formation-continue.jpg">
   
    <p><i>Vous souhaitez intégrer dans une Université reconnue?Talki-Walki vous met en relation avec les meilleurs formations existantes à Madagascar.</i></p>
  </a>
       <div class="bouton">
         <a href="formation_academiques" class="button">Formation académique</a>
       </div>
  </dir>
  <dir class="card">
    <a href="offre_emplois">
    <img src="https://www.bazar-kely.com/wp-content/uploads/2019/07/offre.jpg">
    <p><i>Tout pour trouver un emlpoi à Madagascar: consulter les offres d'emploi et envoyer votre Curriculum Vitae gratuitement.</i></p></a>
    <div class="bouton">
        <a href="offre_emplois" class="button">Offre d'emploi</a>
    </div>
  </dir>
</dir>

</div>
<<<<<<< HEAD
</div>
</section>
||||||| merged common ancestors

=======
</div> 
<small><%= render "../views/layouts/footer"%> </small>

>>>>>>> 7a33d3e1445b146e7f9fb8ab00f174ea6316706b
