<div>
	<h1><%=@mf.title%></h1><br>
	<p><%=@mf.description%></p><br>
	<ul>
		<li>
			Contact: <%=@mf.contact%>
		</li>
		<li>
			e-mail: <%=@mf.email%>
		</li>
		<li>
			Durée de formation: <%=@mf.duration%>
		</li>
		<li>
			Prix de formation: <%=@mf.price%>
		</li>
	</ul>
<!--video et image sur cette formation-->
	<ul>
		<li>
			Videos
		</li>		
	</ul>
</div>
<!--ici les commentaires-->
<div>
		<p>Laisser des commantaires</p>
		<%=form_with url: mf_comments_path(@mf.id), action:"create", method: :post, local: true do |f|%>
		<%=f.text_area :body, placeholder:"Votre commentaire ici ..."%>
		<%=f.submit "Envoyer"%>
		<%end%>
		<%@mf.comments.each do |comment|%>
		<p>	
			<%=comment.body%>
		</p>
		<small>
			<%=link_to "Répondre à ce commentaire", new_mf_comment_answer_path(@mf.id, comment.id)%>
		</small>
		<!--liste des réponses-->
		<%comment.answers.each do |answer|%>
			<ul>
				<li>
					<%=answer.body%>
					<small>
						Réponse de <%=answer.user.first_name%>
					</small>
				</li>
			</ul>
		<%end%>		
</div>

