<div>
	<h1><%=@mf.title%></h1><br>
	<p><%=@mf.description%></p><br>
	<ul>
		<li>
			Contact: <%=@mf.contact%>
		</li>
		<li>
			e-mail: <%=@mf.email%>
		</li>
		<li>
			Durée de formation: <%=@mf.duration%>
		</li>
		<li>
			Prix de formation: <%=@mf.price%>
		</li>
	</ul>
<!--video et image sur cette formation-->
	<ul>
		<li>
			Videos
		</li>		
	</ul>
</div>
