<div class="FA-container">
	<h1 class="fa-title">
		<%= @professionalformation.objet %> <br>
		<%= @professionalformation.titre %>
	</h1>
	<div class="actions-type">
		<%=link_to "éditer",edit_professional_formation_path(@professionalformation.id), class: "fa-action2"%>
		<%=link_to "Supprimer",professional_formation_path(@professionalformation.id), method:"delete",data:{confirm:"On supprime?"}, class: "fa-action3 btn-warning", id: "fp-action3"%>
	</div>
	<div id="desc-1">
		<h2 id="desc-title">Description</h2>
		<p id="desc-content">
		<%= @professionalformation.objet %> <br>
		<%= @professionalformation.titre %></p>
	</div>

	<div id="separation"></div>

	<div id="desc-2">
		Lieu:<%= @professionalformation.lieu %> <br>
		contact:<%= @professionalformation.contacte %><br>		
	</div>
	<div style="font-size: 35px">
	<%= link_to "Interréssé",  professional_formation_like_professionels_path(@professionalformation.id), controller: "like_professionels", action: "create", method: "post", class:"like-int"%> (<%=@professionalformation.likes.length%>)</div>
	</div>
</div>

<br>
<br>

<!-- cases pour les commentaires et reponses-->

<div class="fa-com-resp">
	<div>
		<h2 class="title-comment">commentaires</h2>
		<%= form_tag  professional_formation_commentaire_professionels_path(@professionalformation.id),controller: "commentaire_professionels", method: "post" do %>
		<%= text_area_tag :contenu, nil, placeholder:"votre commentaire ici", class:"fa-inpt-comment"%>
		<%= submit_tag :envoyer, class:"fa-submit1" %>
		<% end %>
	</div>
	<div class="comments">
		<%@professionalformation.commentaires.each do |coms|%>
			<div class="fa-com">
				<div class="fa-com-content">
					<p class="fa-content-resp"><%=coms.contenu%></p> 
					<%=link_to ('<i class="fas fa-pencil-alt"></i>').html_safe,  edit_professional_formation_commentaire_professionel_path(coms.professional_formation_id,coms.id), class: "fa-actions-on-com"%>
					<%=link_to ('<i class="fas fa-trash"></i>').html_safe, professional_formation_commentaire_professionel_path(coms.professional_formation_id,coms.id), method: "delete",  data: { confirm: 'Voulez-vous vraiment supprimer?' }, class: "fa-actions-on-com"%>
					<span class="fa-actions-on-com" ><small><%=coms.created_at%></small></p></span>
				</div>
					<br><br>
				<div class="fa-inpts-resp">					
					<%= form_tag   professional_formation_commentaire_professionel_reponse_professionnels_path(coms.professional_formation_id, coms.id), controller: "reponse_professionnels", method: "post" do %>
					<small class="lab-rep"> Répondre à ce commentaire: </small> 
					<%= text_area_tag :contenunil, nil, placeholder: "Votre réponse ici...", class: "inpts-resp"  %>
					<%= submit_tag :envoyer, class: "fa-submit-rep"%>
					<% end %>
				</div>
				<%unless coms.reponses.empty?%>
					<div class="replies">
						<%coms.reponses.each do |r|%>
						<p class="lab-rep2"> Reponse de: <%=r.user.first_name%>
						<p class="fa-content-resp"><%=r.contenu%></p>  
						<%=link_to ('<i class="fas fa-pencil-alt"></i>').html_safe, edit_professional_formation_commentaire_professionel_reponse_professionnel_path(coms.professional_formation_id, coms.id, r.id), controller: "reponse_professionnels", class: "fa-actions-on-com" %> 
						<%=link_to ('<i class="fas fa-trash"></i>').html_safe,  professional_formation_commentaire_professionel_reponse_professionnel_path(coms.professional_formation_id, coms.id, r.id), controller: "reponse_professionnels", method: "DELETE",  data: { confirm: 'Voulez-vous vraiment supprimer?' }, class: "fa-actions-on-com" %>
						<%=link_to ('<i class="far fa-thumbs-up"></i>()').html_safe, class: "fa-actions-on-com"%>
						<span class="fa-actions-on-com" ><small><%=r.created_at%></small></p></span>	
						<%end%>
					</div>	
				<%end%>
			</div>				
		<%end%>
	</div>
</div>
<br><br><br>
<small> <%= render "../views/layouts/footer"%> </small>
<<<<<<< HEAD
=======
</div>
>>>>>>> f012af7539175514562d87badf427e15710918cf
