<div class="FA-container">
	<h1 class="fa-title">
		<%= @professionalformation.objet %> <br>
		<%= @professionalformation.titre %>
	</h1>
	<div class="actions-type">
		<%=link_to "éditer",edit_professional_formation_path(@professionalformation.id), class: "fa-action2 btn-primary"%>
		<%=link_to "Supprimer",professional_formation_path(@professionalformation.id), method:"delete",data:{confirm:"On supprime?"}, class: "fa-action3 btn-warning", id: "fp-action3"%>
	</div>
	<div id="desc-1">
		<h2 id="desc-title">Description</h2>
		<p id="desc-content">
		<%= @professionalformation.objet %> <br>
		<%= @professionalformation.titre %></p>
	</div>

	<div id="separation"></div>

	<div id="desc-2">
		Lieu:<%= @professionalformation.lieu %> <br>
		contact:<%= @professionalformation.contacte %><br>		
	</div>
</div>
<br>
<br>

<!-- cases pour les commentaires et reponses-->

<div class="fa-com-resp">
	<div>
		<h2 class="title-comment">commentaires</h2>
		<%= form_tag  professional_formation_commentaire_professionels_path(@professionalformation.id),controller: "commentaire_professionels", method: "post" do %>
		<%= text_area_tag :contenu, nil, placeholder:"votre commentaire ici", class:"fa-inpt-comment"%>
		<%= submit_tag :envoyer, class:"fa-submit1" %>
		<% end %>
	</div>
</div>



<%@professionalformation.commentaires.each do |coms|%>
<div>Commentaire: "<%= coms.contenu%>"  
<%=link_to 'Editer',  edit_professional_formation_commentaire_professionel_path(coms.professional_formation_id,coms.id)%>
 <%=link_to 'Supprimer', professional_formation_commentaire_professionel_path(coms.professional_formation_id,coms.id), method: "delete",  data: { confirm: 'Voulez-vous vraiment supprimer?' }%>
 </div>
 
 
				<% coms.reponses.each do |r|%>
				<span> Reponse: 
				<%= r.contenu %> , </span> 
	<%=link_to "Editer", edit_professional_formation_commentaire_professionel_reponse_professionnel_path(coms.professional_formation_id, coms.id, r.id), controller: "reponse_professionnels" %>  <%=link_to "Supprimer",  professional_formation_commentaire_professionel_reponse_professionnel_path(coms.professional_formation_id, coms.id, r.id), controller: "reponse_professionnels", method: "DELETE",  data: { confirm: 'Voulez-vous vraiment supprimer?' } %>
				<%end%> 

				
<%= form_tag   professional_formation_commentaire_professionel_reponse_professionnels_path(coms.professional_formation_id, coms.id), controller: "reponse_professionnels", method: "post" do %>
 <span>REPONDRE CE COMS: </span> 
<%= text_area_tag :contenu %>
<%= submit_tag :envoyer%>
		<% end %>
<br><br><br><%end%>
<br><br>
<%= render "layouts/footer" %>




