<!DOCTYPE html>
<html>
<head>
	 <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> 
</head>
<body>
<h1>OffreEmplois#index</h1>
<<<<<<< HEAD
<p>Find me in app/views/offre_emplois/index.html.erb</p>
<table>
<% @offreemplois.each do |oe| %>
||||||| merged common ancestors

<table>
<% @offreemplois.each do |oe| %> 
=======
<div class="table-responsive">
<table class="table table-dark table-striped">
	<thead>
	  <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Lieu</th>
        <th>Salaire</th>
        <th>Mail</th>
      </tr>
	</thead>
	<tbody>
<% @offreemplois.each do |oe| %>

>>>>>>> 15376bd9b52303c65693fe6bad409c5ea28742b5
	<tr>
		<td><%= oe.id %></td>
	 	<td><%= oe.description %></td>
	 	<td><%= oe.lieu %></td>
	 	<td><%= oe.salaire %></td>
	 	<td><%= oe.mail %></td> 
<<<<<<< HEAD
	 	<td><%=link_to "voir",offre_emploi_path(oe.id)%></a></td>
	</tr>

||||||| merged common ancestors
	 	<td><%=link_to "voir plus",offre_emploi_path(oe.id)%></a></td>
	</tr> 
=======
	 	<td><%=link_to "voir plus",offre_emploi_path(oe.id)%></a></td>
	</tr> 

>>>>>>> 15376bd9b52303c65693fe6bad409c5ea28742b5
 <%end%>
 </tbody> 
</table>
<<<<<<< HEAD
||||||| merged common ancestors
<%= link_to "Proposer un nouveau emploi", new_offre_emploi_path%>
=======
</div>
<%= link_to "Proposer un nouveau emploi", new_offre_emploi_path%>
</body>
</html>
>>>>>>> 15376bd9b52303c65693fe6bad409c5ea28742b5
