<h1>OffreEmplois#index</h1>

<table>
<% @offreemplois.each do |oe| %> 
	<tr>
		<td><%= oe.id %></td>
	 	<td><%= oe.description %></td>
	 	<td><%= oe.lieu %></td>
	 	<td><%= oe.salaire %></td>
	 	<td><%= oe.mail %></td> 
	 	<td><%=link_to "voir",offre_emploi_path(oe.id)%></a></td>
	</tr>

 <%end%>
</table>
<%= link_to "Proposer un nouveau emploi", new_offre_emploi_path%>