<h1>OffreEmplois#index</h1>
<p>Find me in app/views/offre_emplois/index.html.erb</p>
<table>
<% @offreemplois.each do |oe| %>
	<tr>
		<td><%= oe.id %></td>
	 	<td><%= oe.description %></td>
	 	<td><%= oe.lieu %></td>
	 	<td><%= oe.salaire %></td>
	 	<td><%= oe.mail %></td> 
	</tr>

 <%end%>
</table>
