<section class="section-index">
  <div class="slideshow-container">
<div class="sevices-section">
<div class="inner-width">
  <h1 class="section-title">Offre d'emploi</h1>


<div class="slide1">
  <div class="mySlides">
       <div class="border"></div></h1>
            <div class="services-container">
       <% @offreemplois.each do |oe| %>
       
              <div class="service-box">
              <div class="numbertext"></div>
                <div class="service-icon">
                  <i class="fa fa-ravelry" aria-hidden="true"></i>
                </div>
                <div class="service-title"><b><%=oe.description%></b>
                </div>
              <div class="service-desc">
            <%= oe.description %><br>
            <%=link_to "Voir plus>>",offre_emploi_path(oe.id), class:"FA-bout-voir"%>          </div>

        </div>
        <%end%>

      </div>
    </div>
    </div>

<div class="slide2">
  <div class="mySlides">
       <div class="border"></div></h1>
            <div class="services-container">
       <% @offreemplois.each do |oe| %>
       
              <div class="service-box">
              <div class="numbertext"></div>
                <div class="service-icon">
                  <i class="fa fa-ravelry" aria-hidden="true"></i>
                </div>
                <div class="service-title"><b>Nom de l'entreprise</b>
                </div>
              <div class="service-desc">
            <%= oe.description %> <br>
            <%=link_to "Voir plus>>",offre_emploi_path(oe.id), class:"FA-bout-voir"%>          </div>

        </div>
        <%end%>

      </div>
    </div>
    </div>

<div class="slide3">
  <div class="mySlides">
       <div class="border"></div></h1>
            <div class="services-container">
       <% @offreemplois.each do |oe| %>
       
              <div class="service-box">
              <div class="numbertext"></div>
                <div class="service-icon">
                  <i class="fa fa-ravelry" aria-hidden="true"></i>
                </div>
                <div class="service-title"><b>Nom de l'entreprise</b>
                </div>
              <div class="service-desc">
            <%= oe.description %> <br>
            <%=link_to "Voir plus>>",offre_emploi_path(oe.id), class:"FA-bout-voir"%>          </div>

        </div>
        <%end%>

      </div>
    </div>
    </div>


<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
</div>
</div>
</div>
<div id="FA-bout-offre">	
		<%= link_to "Proposer un emploi >>>", new_offre_emploi_path, class:"FA-bout"%>
</div>

<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
}
</script>

</section>
<small> <%= render "../views/layouts/footer"%> </small>
