<h1>OffreEmplois#show</h1>
<p>Find me in app/views/offre_emplois/show.html.erb</p>
<table>
	
	<tr>
		<td><%= @offreemploi.id %></td>
	 	<td><%= @offreemploi.description %></td>
	 	<td><%= @offreemploi.lieu %></td>
	 	<td><%= @offreemploi.salaire %></td>
	 	<td><%= @offreemploi.mail %></td> 
	 	<td>
	 		<%= link_to "Home", offre_emplois_path%> 
	 		<%=link_to "éditer",edit_offre_emploi_path(@offreemploi.id)%>
	 		<%=link_to "Supprimer",offre_emploi_path(@offreemploi.id) , method:"delete",data:{confirm:"On supprime?"}%>

	 	</td>
	</tr>

 
</table>

<h2>Commenter</h2>
<%= form_tag  offre_emploi_commentaire_emplois_path(@offreemploi.id),controller: "commentaire_emplois", method: "post" do %>
<%= text_area_tag :contenu %>
<%= submit_tag :envoyer%>
<% end %>


<%@offreemploi.commentaires.each do |f|%>
"<%=f.contenu%>"
<%=link_to 'Editer',  edit_offre_emploi_commentaire_emploi_path(f.offre_emploi_id,f.id)%> 
<%=link_to 'Supprimer',   offre_emploi_commentaire_emploi_path(f.offre_emploi_id,f.id), method: "delete",  data: { confirm: 'Voulez-vous vraiment supprimer?' } %><br>
 
				<% f.reponses.each do |r|%>
				<span> reponse:  
				<%= r.contenu %>,</span> 
				<%end%>


<%= form_tag  offre_emploi_commentaire_emploi_reponse_emplois_path(f.offre_emploi_id, f.id), controller: "reponse_emplois", method: "post" do %>
			 <span> REPONDRE CE COMS:  </span>
			<%= text_area_tag :contenu %>
			<%= submit_tag :envoyer%>
		<% end %>

	
				
<br><br><br><%end%>

