<<<<<<< HEAD
<h1>OffreEmplois#show</h1>
<p>Find me in app/views/offre_emplois/show.html.erb</p>
<table>
<%@offreemploi.commentaires.each do |f|%>
<% f.reponses.each do |r|%>
	<tr>
		<td><%= @offreemploi.id %></td>
	 	<td><%= @offreemploi.description %></td>
	 	<td><%= @offreemploi.lieu %></td>
	 	<td><%= @offreemploi.salaire %></td>
	 	<td><%= @offreemploi.mail %></td> 
	 	<td>
	 		<%=link_to "éditer",edit_offre_emploi_path(@offreemploi.id)%>
	 		<%=link_to "Supprimer",offre_emploi_path(@offreemploi.id) , method:"delete",data:{confirm:"On supprime?"}%>
	 		, <%=link_to "like",offre_emploi_commentaire_emploi_reponse_emploi_like_emplois_path(f.offre_emploi_id, f.id, r.id), controller: "like_emplois", action: "create", method: "post"%>(<%=@offreemploi.likes.length%>)
	 	</td>
	</tr>
=======
>>>>>>> 7a33d3e1445b146e7f9fb8ab00f174ea6316706b

<div class="FA-container">
<h1 class="fa-title"><%= @offreemploi.description%></h1><br>
<div class="actions-type">
	<%=link_to "éditer",edit_offre_emploi_path(@offreemploi.id), class: "fa-action2 btn-primary"%>
	<%=link_to "Supprimer",offre_emploi_path(@offreemploi.id) , method:"delete",data:{confirm:"On supprime?"}, class: "fa-action3 btn-warning", id: "oe-action3"%>
</div>

<div id="desc-1">
	<h2 id="desc-title">Description</h2>
	<p id="desc-content"><%= @offreemploi.description%></p> <br>
</div>
  
 <div id="separation"></div>
	<div id="desc-2">
		<ul>
			<li>Lieu: <%= @offreemploi.lieu %></li>
			<li>mail: <%= @offreemploi.salaire%></li>
			<li>contact:<%= @offreemploi.mail %></li>
		</ul>
	</div>
	<br>	
</div>
<br><br>
<div class="fa-com-resp">
	<div>
	<h2 class="title-comment">commentaires<hr></h2>
	<%= form_tag  offre_emploi_commentaire_emplois_path(@offreemploi.id),controller: "commentaire_emplois", method: "post" do %>
		<%= text_area_tag :contenu, nil, placeholder:"votre commentaire ici", class:"fa-inpt-comment" %>
		<%= submit_tag :envoyer, class: "fa-submit1"%>
		<% end %>
	</div>
	<div class="comments">
				
	</div>		
</div>




"<%=f.contenu%>"
<%=link_to 'Editer',  edit_offre_emploi_commentaire_emploi_path(f.offre_emploi_id,f.id)%> 
<%=link_to 'Supprimer',   offre_emploi_commentaire_emploi_path(f.offre_emploi_id,f.id), method: "delete",  data: { confirm: 'Voulez-vous vraiment supprimer?' } %>, <%=link_to "like",offre_emploi_commentaire_emploi_reponse_emploi_like_emplois_path(f.offre_emploi_id, f.id, r.id), controller: "like_emplois", action: "create", method: "post"%> (<%=f.likes.length%>)<br>
 
				<span> reponse:  
				<%= r.contenu %>, <%=link_to "Editer", edit_offre_emploi_commentaire_emploi_reponse_emploi_path(f.offre_emploi_id, f.id, r.id), controller: "reponse_emplois"%>,  <%=link_to "Supprimer",  offre_emploi_commentaire_emploi_reponse_emploi_path(f.offre_emploi_id, f.id, r.id), controller: "reponse_emplois", method: "DELETE" ,  data: { confirm: 'Voulez-vous vraiment supprimer?' } %>,
				<%=link_to "like",offre_emploi_commentaire_emploi_reponse_emploi_like_emplois_path(f.offre_emploi_id, f.id, r.id), controller: "like_emplois", action: "create", method: "post"%> (<%=r.likes.length%>)
				 </span> 
				<%end%>


<%= form_tag  offre_emploi_commentaire_emploi_reponse_emplois_path(f.offre_emploi_id, f.id), controller: "reponse_emplois", method: "post" do %>
			 <span> REPONDRE CE COMS:  </span>
			<%= text_area_tag :contenu %>
			<%= submit_tag :envoyer%> 
		<% end %>
		<%end%>		
<br><br><br>
<small> <%= render "../views/layouts/footer"%> </small>
