<div class="FA-container">
<h1 class="fa-title"><%= @offreemploi.description%></h1><br>
<div class="actions-type">
	<%=link_to "éditer",edit_offre_emploi_path(@offreemploi.id), class: "fa-action2"%>
	<%=link_to "Supprimer",offre_emploi_path(@offreemploi.id) , method:"delete",data:{confirm:"On supprime?"}, class: "fa-action3 btn-warning", id: "oe-action3"%>
</div>

<div id="desc-1">
	<h2 id="desc-title">Description</h2>
	<p id="desc-content"><%= @offreemploi.description%></p> <br>
</div>
  
 <div id="separation"></div>
	<div id="desc-2">
		<ul>
			<li>Lieu: <%= @offreemploi.lieu %></li>
			<li>mail: <%= @offreemploi.salaire%></li>
			<li>contact:<%= @offreemploi.mail %></li>
		</ul>
	</div>
	<div style="font-size: 35px"><%= link_to "Interressé",  offre_emploi_like_emplois_path(@offreemploi.id) , controller: "like_emplois", action: "create", method: "post", class:"like-int"%> (<%=@offreemploi.likes.length%>)	</div>
	<br>	
</div>
<br><br>
<div class="fa-com-resp">
	<div>
	<h2 class="title-comment">commentaires<hr></h2>
	<%= form_tag  offre_emploi_commentaire_emplois_path(@offreemploi.id),controller: "commentaire_emplois", method: "post" do %>
		<%= text_area_tag :contenu, nil, placeholder:"votre commentaire ici...", class:"fa-inpt-comment" %>
		<%= submit_tag :envoyer, class: "fa-submit1"%>
		<% end %>
	</div>
	<div class="comments">
		<%@offreemploi.commentaires.each do |f|%>
			<div class="fa-com">
				<div class="fa-com-content">
					<p class="fa-content-resp"><%=f.contenu%></p> 
					<%=link_to ('<i class="fas fa-pencil-alt"></i>').html_safe,  edit_offre_emploi_commentaire_emploi_path(f.offre_emploi_id,f.id), class: "fa-actions-on-com"%> 
					<%=link_to ('<i class="fas fa-trash"></i>').html_safe, offre_emploi_commentaire_emploi_path(f.offre_emploi_id,f.id), method: "delete",  data: { confirm: 'Voulez-vous vraiment supprimer?' }, class: "fa-actions-on-com" %><br>
					<span class="fa-actions-on-com" ><small><%=f.created_at%></small></p></span>
					</div>
				<br><br>
				<div class="fa-inpts-resp">
					<%= form_tag  offre_emploi_commentaire_emploi_reponse_emplois_path(f.offre_emploi_id, f.id), controller: "reponse_emplois", method: "post" do %>
					<small class="lab-rep"> Répondre à ce commentaire: </small>
					<%= text_area_tag :contenu, nil, placeholder: "Votre réponse ici...", class: "inpts-resp"  %>
					<%= submit_tag :envoyer, class: "fa-submit-rep"%> 
					<% end %>
				</div>
				<%unless f.reponses.empty?%>
				<div class="replies">
					<% f.reponses.each do |r|%>
					<p class="lab-rep2"> Reponse de: <%=r.user.first_name%></p>
					<p class="fa-content-resp"><%= r.contenu %></p>
					<%=link_to ('<i class="fas fa-pencil-alt"></i>').html_safe, edit_offre_emploi_commentaire_emploi_reponse_emploi_path(f.offre_emploi_id, f.id, r.id), controller: "reponse_emplois", class: "fa-actions-on-com"%>
					<%=link_to ('<i class="fas fa-trash"></i>').html_safe,  offre_emploi_commentaire_emploi_reponse_emploi_path(f.offre_emploi_id, f.id, r.id), controller: "reponse_emplois", method: "DELETE" ,  data: { confirm: 'Voulez-vous vraiment supprimer?' }, class: "fa-actions-on-com" %>	 
					<%=link_to ('<i class="far fa-thumbs-up"></i>()').html_safe, class:"fa-actions-on-com"%>
					<span class="fa-actions-on-com" ><small><%=r.created_at%></small></p></span>
					<%end%>
				</div>	
				<%end%>		
			</div>
		<%end%>			
	</div>		
</div>

<br><br><br>
<small> <%= render "../views/layouts/footer"%> </small>
