
<h1>Mon Profil</h1>

<p>Bienvenue sur la page d'ajout d'un utilisateur pour le User portant l'id : <%=@user.id%></p>
<h3>Photo de profil</h3>
<%if @user.image.attached?%>
  <%= image_tag @user.image, width: "12%", alt: 'image' %>

<%else%>
  <p>=== Il n'y a pas encore de photo de profil lié à cet utilisateur ===</p>
<%end%>


<h3>Ajouter le profil</h3>
<%= form_tag user_images_path(@user), multipart: true do %>
  <%= file_field_tag :image %>
  <%= submit_tag "Ajouter" %>
<% end %>