
	<div class="slider">
		<div class="img-responsive">
			<ul class="bxslider">

				<li><%=image_tag"feutre.jpg" ,alt:""%> </li>
				<!--<li><%=image_tag "3.jpg" ,alt:""%></li>
				<li><%=image_tag "2.jpg" ,alt:""%></li>-->			
			</ul>
		</div>	
    </div>
	
	<div class="container">
		<div class="text-center">
			<div class="wow bounceInDown" data-wow-offset="0" data-wow-delay="0.3s">
				<h3>Petit guide pour obtenir facilement des informations sur les bonnes formations ou sur les job suite à la formation...</h3>
			</div>
			<div class="wow bounceInDown" data-wow-offset="0" data-wow-delay="0.6s">
				<h2>Le diplôme, c’est dans la poche <br> L'emploi, dépend de moi</h2>
			</div>
		</div>
	</div>
	
		<div class="box">
			<div class="wow fadeInLeft" data-wow-offset="0" data-wow-delay="0.4s">
				<div class="col-sm-3">
					<i class="fa fa-cogs fa-3x"></i>
					<h4>Recrutement</h4>
				</div>
			</div>
			<div class="wow fadeInLeft" data-wow-offset="0" data-wow-delay="0.8s">
				<div class="col-sm-3">
					<i class="fa fa-leaf fa-3x"></i>
					<h4>Diplôme</h4>
				</div>
			</div>
			<div class="wow fadeInRight" data-wow-offset="0" data-wow-delay="1.2s">
				<div class="col-sm-3">
					<i class="fa fa-heart-o fa-3x"></i>
					<h4>Média</h4>
				</div>
			</div>
			<div class="wow fadeInRight" data-wow-offset="0" data-wow-delay="1.6s">
				<div class="col-sm-3">
					<i class="fa fa-laptop fa-3x"></i>
					<h4>Documentation</h4>
				</div>
			</div>
		</div>
	
	<div class="features">
		<div class="container">
			<div class="text-center">
				<div class="wow bounceInDown" data-wow-offset="0" data-wow-delay="0.3s">
					<h2>Vos avantages?</h2>
				</div>
				<div class="wow bounceInDown" data-wow-offset="0" data-wow-delay="0.6s">
					<p>L'avenir de votre enfant est entre des bonnes mains:<br>
					des formations reconnues à l'internationale pour les jeunes, des emplois stables pour tous<br></p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="col-lg-6 wow fadeInRight" data-wow-offset="0" data-wow-delay="0.5s">
			<%=image_tag"mam.jpg" ,alt:"", class:"img-responsive" %>

		</div>
		
		<div class="col-lg-6 wow fadeInLeft" data-wow-offset="0" data-wow-delay="0.5s">
			<%=image_tag"colas.jpg" ,alt:"", class:"img-responsive" %>
		</div>
	</div>
	
	<div class="main-feature">
		<div class="container">
			<div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.3s">
				<div class="media">
					<div class="media-left">					
						<i class="fa fa-rocket fa-3x"></i>
					</div>
					
					<div class="media-body">
						<h4 class="media-heading">Diversité de filières</h4>
						<p>Economie, Comptabilité, Droit, Informatique, Paramedicaux, Polytechnique,  Communication, Philosophie...</p>
					</div>
				</div>
			</div>
			
			<div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.6s">
				<div class="media">
					<div class="media-left">					
						<i class="fa fa-camera fa-3x"></i>
					</div>
					
					<div class="media-body">
						<h4 class="media-heading">Minimisation de coût</h4>
						<p>Minimun de dépenses, Efficacité optimale, Efficience de méthode, Apprendre à toute liberté...</p>
					</div>
				</div>
			</div>
			
			<div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.9s">
				<div class="media">
					<div class="media-left">					
						<i class="fa fa-heart-o fa-3x"></i>
					</div>
					
					<div class="media-body">
						<h4 class="media-heading">Facilité d'accès</h4>
						<p>Site ouvert à tout le monde, Site repond aux besoins de la société actuelle, Réponse rapide...</p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="text-center">
			<div class="wow bounceInDown" data-wow-offset="0" data-wow-delay="0.3s">
				<h2>Voulez-vous commencez? </h2>
			</div>
			<div class="wow bounceInUp" data-wow-offset="0" data-wow-delay="0.6s">
				<p>Pour accéder Talki-Walki, il faut d'abord vous connecter ou vous inscrire</p>
			</div>
			
			<a href="/users/sign_up"><button type="button" class="btn btn-default"> S'inscrire maintenant </button></a>
			<a href="/users/sign_in"> <button type="button" class="btn btn-default"> Connecter à mon compte</button></a>
		</div>	
		
	</div>
	
	<div class="about-us">
		<div class="containero">
			<div class="text-center">
				<div class="wow bounceInDown" data-wow-offset="0" data-wow-delay="0.3s">
					<h3>Talki-Walki pour les jeunes</h3>
				</div>
				<div class="wow bounceInDown" data-wow-offset="0" data-wow-delay="0.6s">
					<h2>N'hésite pas à visiter</h2>
				</div>
				<div class="containero">

					<a href="<%=pfs_path%>" class="button">
				<div class="wow fadeInRight" data-wow-offset="0" data-wow-delay="0.3s">
					<div class="col-md-3">
						 <div class="cardo">
						<%=image_tag"prof.jpg" ,alt:""%>
						<h3 style="color: rgb(59, 181, 163);">Formation professionnelle</h3>
						<p>Choisir la formation professionnelle c'est de vous offrir la possibilité de progresser sur le marché de travail une carrière qui peut mener loin.</p>
					</div>
				</div>
				</div>
				</a>

				<a href="<%=afs_path%>" class="button">
				<div class="wow fadeInLeft" data-wow-offset="0" data-wow-delay="0.5s">
					<div class="col-md-3">
						<div class="cardo">
						<%=image_tag "form.jpg" ,alt:""%>
						<h3 style="color: rgb(59, 181, 163);">Formation Academique</h3>
						<p>Vous souhaitez intégrer dans une Université reconnue?Talki-Walki vous met en relation avec les meilleurs formations existantes à Madagascar.</p>
					</div>
				</div>
				</div></a>

				<a href="<%=jobs_path%>" class="button">
				<div class="wow fadeInLeft" data-wow-offset="0" data-wow-delay="0.9s">
					<div class="col-md-3">
						<div class="cardo">
						<%=image_tag"offre.jpg" ,alt:""%>
						<h3 style="color: rgb(59, 181, 163);">Offre d'emploi</h3>
						<p>>Tout pour trouver un emlpoi à Madagascar: consulter les offres d'emploi et envoyer votre Curriculum Vitae gratuitement.</p>
					</div>
				</div>
				</div>
				</a>
				
		</div>
	</div>
</div>
</div>
	<script>
	wow = new WOW(
	 {	
		}	) 
		.init();
	</script>
	
