

    <div class="sign-container">
            <h1 >Log in</h1>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
              <%= f.label :email, class:"lab" %><br/>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"inpts" %>

              <%= f.label :password, class:"lab" %><br />
              <%= f.password_field :password, autocomplete: "current-password", class:"inpts" %>

            <% if devise_mapping.rememberable? %>
                <p><%= f.check_box :remember_me %>
                <%= f.label :remember_me, class:"lab" %><p>
            <% end %>

            <div>
              <%= f.submit "Log in", class:"btn btn-info logs", id: "lg"%>
            </div>
            <% end %>
            <small><%= render "devise/shared/links"%></small>
        </div>
  </div>
  <hr>
  <small> <%= render "../views/layouts/footer"%> </small>
 