<h1><%=@formation.titre%></h1><br>

Description: <%=@formation.description%> <br>
Lieu: <%=@formation.lieu%><br>
Mail si interréssé: <%=@formation.mail%><br>
Domaine spécifique: <%=@formation.domaine%><br>
Contact: <%=@formation.contact%>
</p>
<%= link_to "Home", formation_academiques_path%> <br>
<%= link_to "Edit", edit_formation_academique_path(@formation.id)%> <br>
<%= link_to "Delete", formation_academique_path(@formation.id), method: "delete",  data: { confirm: 'Voulez-vous vraiment supprimer?' }%>
<br>
<br>

<h2>Commenter</h2>
<%= form_tag formation_academique_path(@formation.id), controller: "" , method: "post" do %>
<%= text_area_tag :contenu %>
<%= submit_tag :envoyer%>
<% end %>
