
<div class="FA-container">
	<h1 class="fa-title"><%=@formation.titre%></h1><br>
	<div id="action">
	<%= link_to "Editer-infos", edit_formation_academique_path(@formation.id), class: "fa-action2 btn-primary"%> <br>
	<%= link_to "suprimer-infos", formation_academique_path(@formation.id), method: "delete",  data: { confirm: 'Voulez-vous vraiment supprimer?' }, class: "fa-action3 btn-warning"%>	
	</div>
	<div id="desc-1">
		<h2 id="desc-title">Description</h2>
		 <p id="desc-content"><%=@formation.description%></p> <br>
	</div>
	
	<div id="separation"></div>
	
	<div id="desc-2">
		Lieu: <%=@formation.lieu%><br>
		Mail si interréssé: <%=@formation.mail%><br>
		Domaine spécifique: <%=@formation.domaine%><br>
		Contact: <%=@formation.contact%>
	</div>
	 <br>	
</div>

<br>

<br>
<div class="fa-com-resp">
		<div class="comments">
			<div>
				<h2 id="title-comment">commentaires<hr></h2>
				<%= form_tag  formation_academique_commentaire_academiques_path(@formation.id),controller: "commentaire_academiques", method: "post" do %>
				<%= text_area_tag :contenu, nil, placeholder:"votre commentaire", id:"fa-inpt-comment"%>
				<%= submit_tag :envoyer, id:"fa-submit1"%>
				<% end %>
			</div>
			<%@formation.commentaires.each do |a|%>
			<div>
				<p><%=a.contenu%></p> 
				<%=link_to 'Editer',  edit_formation_academique_commentaire_academique_path(a.formation_academique_id,a.id, controller: "commentaire_academiques" )%> 
				<%=link_to 'Supprimer',   formation_academique_commentaire_academique_path(a.formation_academique_id,a.id), method: "delete",  data: { confirm: 'Voulez-vous vraiment supprimer?' } %>
					<br><br>
				</div>
			</div>
			<div class="replies">
				<div class="fa-lst-resp">
				<% a.reponses.each do |r|%>
				<span> ma reponse: </span>
				"<%= r.contenu %>" 
				<%=link_to "Editer", edit_formation_academique_commentaire_academique_reponse_academique_path(a.formation_academique_id, a.id, r.id), controller: "reponse_academiques"%> 
				<%=link_to "Supprimer",  formation_academique_commentaire_academique_reponse_academique_path(a.formation_academique_id, a.id, r.id), controller: "reponse_academiques", method: "DELETE", data: { confirm: 'Voulez-vous vraiment supprimer?' } %> 
				</div>
				<%end%>
				<div>
				<%= form_tag  formation_academique_commentaire_academique_reponse_academiques_path(a.formation_academique_id, a.id), controller: "reponse_academiques", method: "post" do %>
				<span> REPONDRE CE COMS: </span>
				<%= text_area_tag :contenu %>
				<%= submit_tag :envoyer%>
				<% end %>
				</div>
			</div>
		<%end%>	
<div>
<br><br><br>
