<h1><%=@formation.titre%></h1><br>

Description: <%=@formation.description%> <br>
Lieu: <%=@formation.lieu%><br>
Mail si interréssé: <%=@formation.mail%><br>
Domaine spécifique: <%=@formation.domaine.titre%><br>
Contact: <%=@formation.contact%>
</p>