<head>
<% provide :head_tags do %>
    <script>
    document.addEventListener("DOMContentLoaded", function(){
        initMap(<%=@place.latitude%>, <%=@place.longitude%>)
    });
    </script>
<% end %>
	
</head>

<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>
<p>
    <div id="map"></div>
</p>
<p>
  <strong>Latitude:</strong>
  <%= @place.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @place.longitude %>
</p>

<p>
<%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=17&size=400x300&center=#{@place.latitude},#{@place.longitude}&key=#{Rails.application.credentials.key}", alt: "Map" %>
</p>
<%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=17&size=400x300&center=51.501564
,-0.141944&key=97a78cf182dff9635c6ba7188cfd0bf3
", alt: "Map" %>
</p>

<%= link_to 'Edit', edit_place_path(@place) %> 
<%= link_to 'Back', places_path %>
