
<section>
  <div class="menu-bar">
    <div class="notification">
  <% if user_signed_in?%>
  <p>vous êtes connecté </p>
  <%= link_to "logout", destroy_user_session_path, method: :delete%>
  <%else%>
  <p>vous êtes déconnecté </p>
  <%end%>
</div>
    <header>
  <div class="logo">
    <h1 class="logo-text"><i><b><span style="    text-decoration-color:rgb(255, 255, 255)">Talki</span></b><sub style="text-decoration: overline; text-decoration-color: rgb(63, 181, 168);"><i class="fa fa-volume-control-phone" aria-hidden="true"></i>Walki</sub></i></h1>
  </div>
  </header>
  <ul>
    <li class="active"><i class="fa fa-home" aria-hidden="true"></i><a href="<%=root_path%>">Talki-walki</li>
    <li><i class="fa fa-address-card" aria-hidden="true"></i><a href="<%=offre_emplois_path%>">Emploi</li>
    <li><i class="fa fa-book" aria-hidden="true"></i><a href="#">Formation</a>
        <div class="sub-menu-1">
          <ul>
            <li><a href="<%=formation_academiques_path%>">Academique</a></li>
            <li><a href="<%=professional_formations_path%>">Professionnelle</a></li>
          </ul>
        </div>
    </li>
    <%if user_signed_in?%>

    <li><i class="fa fa-user-circle-o" aria-hidden="true"></i><a>Action</a>
        <div class="sub-menu-1">
          <ul>
            <li><a><%= link_to "Mon profil", user_path(current_user.id)%></a></li>
            <li><a><%= link_to "Déconnexion", destroy_user_session_path, method: :delete%></a></li>
          </ul>
        </div>
    </li>
    <%else%>
    <li><i class="fa fa-user-circle-o" aria-hidden="true"></i><a>Action</a>
        <div class="sub-menu-1">
          <ul>
            <li><a> <%=link_to  "Connexion", new_user_session_path%> </a></li>
            <li><a><%= link_to "Inscription", new_user_registration_path%></a></li>
          </ul>
        </div>
    </li>
    <%end%>
  </ul>
  </div>
</section>

