<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<div class="Card0">
<div class="card" id="crt01">
  <h2 style="text-align:center;"><%= @user.first_name %></h2>  
    <div class="flip-card">                  
    <div class="flip-card-inner">
    <div class="flip-card-front" style="border-radius: 15px;" >
      <%if @user.image.attached?%>
        <%= image_tag @user.image, alt: 'image' %>
      <%else%>
        <p>=== image vide ===</p>
      <%end%>
    </div>

    <div class="flip-card-back">
      <h1><%= @user.last_name %></h1> 
      <p><%= @user.function %></p> 
      <p><%= @user.description %></p>                     
    </div>
    </div>
    </div>
<div id="mySidenav" class="sidenav">
  <ul>
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a ><%= form_tag user_images_path(@user), multipart: true do %>
    <p><%= file_field_tag :image %>
      <%= submit_tag"Modifier photo" %>
    <% end %></p>
    </a>
    <li><a onclick="document.getElementById('id01').style.display='block'" style="width:auto;color: rgb(255, 255, 255)">Modifier le registration</a></li>
    <li><a href="#">Confidetialité</a></li>
    <li><a href="#">Se déconnecter</a></li>
  </ul>
</div>
<button style="font-size:30px;cursor:pointer" onclick="openNav()">Editer profile</button>
 <p><a href="#"><i class="fa fa-dribbble"></i></a> 
    <a href="#"><i class="fa fa-twitter"></i></a>  
    <a href="#"><i class="fa fa-linkedin"></i></a>  
    <a href="#"><i class="fa fa-facebook"></i></a></p>
    <p><%= @user.email %></p>
</div>



</div>

<br>
  
<script>
  function openNav() {
  document.getElementById("mySidenav").style.width = "100%";
  }

  function closeNav() {
  document.getElementById("mySidenav").style.width = "0%";
  }

  function openNav01() {
  document.getElementById('id01').style.display='block';
  }

  // Get the modal
  var modal = document.getElementById('id01');

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }

  function mytest() {
    alert(document.getElementById("test").style.display);
    }
function openPage(pageName,elmnt,color) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].style.backgroundColor = "";
  }
  document.getElementById(pageName).style.display = "block";
  elmnt.style.backgroundColor = color;
}
document.getElementById("defaultOpen").click();
</script>
    

</div>
</div>

<!--   render edit_user_path     -->

<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
  <form class="modal-content" action="edit_user">
    <div class="container">
      <span>Confindentialité</span>
      <p>Please fill in this form to create an account.</p>
      <hr>
      <label for="email"><b>First Name</b></label>
      <input type="text" placeholder="@user.first_name" name="first_name" required>

      <label for="email"><b>Last Name</b></label>
      <input type="text" placeholder="@user.last_name" name="last_name" required>

      <label for="email"><b>City</b></label>
      <input type="text" placeholder="@user.city" name="city" required>

      <label for="email"><b>Zip code</b></label>
      <input type="text" placeholder="@user.zip_code" name="zip_code" required>

      <label for="email"><b>Description</b></label>
      <input type="text" placeholder="@user.description" name="description" required>

      <label for="email"><b>Fonction</b></label>
      <input type="text" placeholder="@user.fonction" name="fonction" required>

      <label for="email"><b>Contacte</b></label>
      <input type="text" placeholder="@user.phone_number" name="phone_number" required>
       <label onclick="document.getElementById('id03').style.display='block'" style="width:auto;">Changer des mots de passe</label>
      <div id="id03" class="modal">
          <div class="container">
          <span onclick="document.getElementById('id03').style.display='none'" class="close" title="Close Modal">&times;</span>
          <form class="modal-content" action="edit_user">
          <label for="email"><b>Email</b></label>
          <input type="text" placeholder=" user.email " name="mail" required>

          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="user.password" name="psw" required>
          
          <label for="psw-repeat"><b>Repeat Password</b></label>
          <input type="password" placeholder="@user.password_cofirmation" name="psw-repeat" required>
          </form>
          </div>
      </div>
      <br>
      <label>
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
      </label>

      <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

      <div class="clearfix">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        <button type="submit" class="signupbtn">Enregistrer</button>
      </div>

    </div>
  </form>
</div>